.contHome{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #494848d0;
}
.cont-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
}
.cont-filtros-home{
  position: relative;
  top: -40px;
  width: 80%;
}
.cont-listaP-home{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-button {
    width: 250px;
    background-color: #0c0c0c;
    color: #b31414;
    border: none;
    cursor: pointer;
    padding: 15px 0;
    font-size: 20px;
}
/* filtros P.CH */
.cont-filtrosPCH {
  display: none;
}

@media screen and (max-width: 700px){
  .cont-filtros-home{
    display: none;
  }
  .cont-listaP-home{
    width: 95%;
    background-color: #b31414;
  }
   /* filtros P.CH */
  .cont-filtrosPCH {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}